/*------------------------------------*\
    $ELEMENT HEADER
\*------------------------------------*/

.logo {
  @include transition(all 0.3s ease);
  width:132px;
  height:$icon_h;
  background:url('../images/logo.png') 0 0 / contain no-repeat;
  a {
    display: block;
    font-size:0;
    height:100%;
  }
  &.large {
    position: absolute;
    z-index: 1;
    top:$gutter;
    left:$gutter;
  }
  @include tablet-less {
    &.small {
      @include flexbox((flex: 1));
    }
  }
  @include tablet {
    width:196px;
    height:60px;
    &.large {    
      top:$margin;
      left:$margin;
    }
  }
  @include desktop {
    width:239px;
    height:80px;
  }
}

.page-header {
  background-color:black;
  .inner {
    height:$header_sm;
    padding-left:$gutter;
    padding-right:$gutter;
    @include tablet {      
      @include transition(all 0.3s ease);
      height:$header_lg;
    }
  }
  a {
    color:white;
    &:hover {
      color:$brand;
    }
  }
  .page-nav {
    @include flexbox((flex: 1));
    font-weight:700;
    font-size:24px;
    line-height:24px;
    @include tablet-less {
      @include transition(all 0.3s ease);
      @include opacity(0);
      visibility: hidden;
      @include flex-direction(column);
      @include flexbox((justify-content: center));
      background-color:black;
      position: fixed;
      left:0;
      right:0;
      top:$header_sm;
      padding-bottom:$header_sm;
      height:calc(100vh - 60px);
      font-size: 210%;
      line-height: 159%;
      .show-menu & {
        @include opacity(1);
        visibility: visible;
      }
    }
    @include desktop {
      padding-right:174px;
    }
  }
  .sns {
    position:relative;
    ul {
      @include transition(all 0.3s ease);
      @include opacity(0);
      visibility: hidden;
      background-color:black;
      height:$icon_h;
      @include tablet-less {
        position:fixed;
        bottom:25px;
        left:0;
        right:0;
        .show-menu & {
          @include opacity(1);
          visibility: visible;
        }
      }
      @include tablet {
        position: absolute;
        bottom:inherit;
        left:inherit;
        top:0;
        right:$icon_h;
        .show-sns & {
          @include opacity(1);
          visibility: visible;
        }
      }
    }
    &-icon {
      font-size:0;
      display: block;
      width:$icon_h;
      height:$icon_h;
      margin-right:10px;
      background:url('../images/sprite-hi.png') 0 -245px / 270px no-repeat;
      &.msg {
        cursor: pointer;
        margin-right:0;
        &.active {
          background-position:-46px -245px;
        }
      }
      &.facebook {
        background-position:-92px -245px;
      }
      &.instagram {
        background-position:-138px -245px;
      }
      &.yelp {
        width:72px;
        background-position:-184px -245px;
      }
      &:hover {
        @include opacity(0.4);
      }
    }
  }
}
.menu-icon {
  position:relative;
  width:$icon_h;
  height:$icon_h;
  background:url('../images/sprite-hi.png') -92px -205px / 270px no-repeat;
  cursor:pointer;
  &.active {
    background-position:-46px -245px;
  }
}
.shrinkHeader {
  .page-content {
    padding-top:$header_sm;
  }
  .page-header {
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    right:0;
    .inner {
      height:$header_sm;
    }
  }
  .logo {
    height:$icon_h;
  }
}