// Colors
$brand: #fe0000; //#ce1a23;
$gray-bg: #f2f2f2;

$heading: 'Montserrat', sans-serif;
$font: 'Nunito', sans-serif;
$icon: 'Genericons';

$width: 1200px;
$gutter: 15px;
$margin: 30px;

$icon_h:36px;
$header_sm:80px;
$header_lg:160px;


$mobile: 320px;
$narrow: 400px;
$tablet: 768px;
$desktop: 992px;
$large: 1200px;