/*------------------------------------*\
    $GRID
\*------------------------------------*/
.container-fluid,
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media only screen and (min-width: 768px) {
  @-ms-viewport {
    width: 768px;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media only screen and (min-width: 992px) {
  @-ms-viewport {
    width: 992px;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media only screen and (min-width: 1200px) {
  @-ms-viewport {
    width: 1200px;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.flex-xs {
  display: -webkit-flex;
  display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.order-1 {
  -webkit-order: 1;
  order: 1;
}

.order-2 {
  -webkit-order: 2;
  order: 2;
}

.ai-fe {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.ai-c {
  -webkit-align-items: center;
  align-items: center;
}
.ai-s {
  -webkit-align-items: stretch;
  align-items: stretch;
}

.as-fe {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.as-c {
  -webkit-align-self: center;
  align-self: center;
}

.jc-c {
  -webkit-justify-content: center;
  justify-content: center;
}
.jc-sb {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.jc-sa {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.jc-fe {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-sm-1, .flex-md-1, .flex-lg-1, .flex-sm-2, .flex-md-2, .flex-lg-2, .flex-sm-3, .flex-md-3, .flex-lg-3, .flex-sm-4, .flex-md-4, .flex-lg-4, .flex-sm-5, .flex-md-5, .flex-lg-5, .flex-sm-6, .flex-md-6, .flex-lg-6, .flex-sm-7, .flex-md-7, .flex-lg-7, .flex-sm-8, .flex-md-8, .flex-lg-8, .flex-sm-9, .flex-md-9, .flex-lg-9, .flex-sm-10, .flex-md-10, .flex-lg-10, .flex-sm-11, .flex-md-11, .flex-lg-11, .flex-xs-12, .flex-sm-12, .flex-md-12, .flex-lg-12 {
  width: 100%;
}

.flex-xs-11 {
  width: 91.66666667%;
}

.flex-xs-10 {
  width: 83.33333333%;
}

.flex-xs-9 {
  width: 75%;
}

.flex-xs-8 {
  width: 66.66666667%;
}

.flex-xs-7 {
  width: 58.33333333%;
}

.flex-xs-6 {
  width: 50%;
}

.flex-xs-5 {
  width: 41.66666667%;
}

.flex-xs-4 {
  width: 33.33333333%;
}

.flex-xs-3 {
  width: 25%;
}

.flex-xs-2 {
  width: 16.66666667%;
}

.flex-xs-1 {
  width: 8.33333333%;
}

@media only screen and (min-width: 768px) {
  @-ms-viewport {
    width: 768px;
  }
  .flex-sm {
    display: -webkit-flex;
    display: flex;
  }

  .flex-sm-12 {
    width: 100%;
  }

  .flex-sm-11 {
    width: 91.66666667%;
  }

  .flex-sm-10 {
    width: 83.33333333%;
  }

  .flex-sm-9 {
    width: 75%;
  }

  .flex-sm-8 {
    width: 66.66666667%;
  }

  .flex-sm-7 {
    width: 58.33333333%;
  }

  .flex-sm-6 {
    width: 50%;
  }

  .flex-sm-5 {
    width: 41.66666667%;
  }

  .flex-sm-4 {
    width: 33.33333333%;
  }

  .flex-sm-3 {
    width: 25%;
  }

  .flex-sm-2 {
    width: 16.66666667%;
  }

  .flex-sm-1 {
    width: 8.33333333%;
  }
}
@media only screen and (min-width: 992px) {
  @-ms-viewport {
    width: 992px;
  }
  .flex-md {
    display: -webkit-flex;
    display: flex;
  }

  .flex-md-12 {
    width: 100%;
  }

  .flex-md-11 {
    width: 91.66666667%;
  }

  .flex-md-10 {
    width: 83.33333333%;
  }

  .flex-md-9 {
    width: 75%;
  }

  .flex-md-8 {
    width: 66.66666667%;
  }

  .flex-md-7 {
    width: 58.33333333%;
  }

  .flex-md-6 {
    width: 50%;
  }

  .flex-md-5 {
    width: 41.66666667%;
  }

  .flex-md-4 {
    width: 33.33333333%;
  }

  .flex-md-3 {
    width: 25%;
  }

  .flex-md-2 {
    width: 16.66666667%;
  }

  .flex-md-1 {
    width: 8.33333333%;
  }
}
@media only screen and (min-width: 1200px) {
  @-ms-viewport {
    width: 1200px;
  }
  .flex-lg {
    display: -webkit-flex;
    display: flex;
  }

  .flex-lg-12 {
    width: 100%;
  }

  .flex-lg-11 {
    width: 91.66666667%;
  }

  .flex-lg-10 {
    width: 83.33333333%;
  }

  .flex-lg-9 {
    width: 75%;
  }

  .flex-lg-8 {
    width: 66.66666667%;
  }

  .flex-lg-7 {
    width: 58.33333333%;
  }

  .flex-lg-6 {
    width: 50%;
  }

  .flex-lg-5 {
    width: 41.66666667%;
  }

  .flex-lg-4 {
    width: 33.33333333%;
  }

  .flex-lg-3 {
    width: 25%;
  }

  .flex-lg-2 {
    width: 16.66666667%;
  }

  .flex-lg-1 {
    width: 8.33333333%;
  }
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  @-ms-viewport {
    width: 320px;
  }
  .visible-xs {
    display: block !important;
  }

  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  @-ms-viewport {
    width: 768px;
  }
  .visible-sm {
    display: block !important;
  }

  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  @-ms-viewport {
    width: 992px;
  }
  .visible-md {
    display: block !important;
  }

  .hidden-md {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  @-ms-viewport {
    width: 1200px;
  }
  .visible-lg {
    display: block !important;
  }

  .hidden-lg {
    display: none !important;
  }
}
/*------------------------------------*\
    $BASE
\*------------------------------------*/
@font-face {
  font-family: 'Genericons';
  src: url("../fonts/Genericons.eot");
  src: url("../fonts/Genericons.eot?#iefix") format("embedded-opentype"), url("../fonts/Genericons.woff") format("woff"), url("../fonts/Genericons.ttf") format("truetype"), url("../fonts/Genericons.svg#genericons") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

.image a,
header, footer, nav, section, article, hgroup, figure {
  display: block;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

body {
  font: 300 18px/24px "Nunito", sans-serif;
  color: black;
}

a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #fe0000;
}
a:hover {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font: 900 24px/24px "Montserrat", sans-serif;
}

article {
  padding: 30px 0;
}
article h1, article h2, article h3, article h4, article h5, article h6,
article p {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  @-ms-viewport {
    width: 768px;
  }
  body {
    font-size: 24px;
    line-height: 36px;
  }

  article {
    padding: 50px 0;
  }
  article h1, article h2, article h3, article h4, article h5, article h6,
  article p {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
  }

  h3 {
    font-size: 36px;
    line-height: 36px;
  }

  h4 {
    font-size: 30px;
    line-height: 30px;
  }

  h5 {
    font-size: 24px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 992px) {
  @-ms-viewport {
    width: 992px;
  }
  article {
    font-size: 30px;
  }

  h1 {
    font-size: 100px;
    height: 100px;
  }

  h2 {
    font-size: 60px;
    line-height: 60px;
  }

  h3 {
    font-size: 48px;
    line-height: 48px;
  }

  h4 {
    font-size: 36px;
    line-height: 36px;
  }

  h5 {
    font-size: 30px;
    line-height: 30px;
  }

  h6 {
    font-size: 24px;
    line-height: 24px;
  }
}
/*------------------------------------*\
    $ELEMENT HEADER
\*------------------------------------*/
.logo {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 132px;
  height: 36px;
  background: url("../images/logo.png") 0 0/contain no-repeat;
}
.logo a {
  display: block;
  font-size: 0;
  height: 100%;
}
.logo.large {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
}
@media only screen and (max-width: 767px) {
  @-ms-viewport {
    .logo {
      width: 320px;
    }
  }
  .logo.small {
    -webkit-flex: 1;
    flex: 1;
  }
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 196px;
    height: 60px;
  }
  @-ms-viewport {
    .logo {
      width: 768px;
    }
  }
  .logo.large {
    top: 30px;
    left: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .logo {
    width: 239px;
    height: 80px;
  }
  @-ms-viewport {
    .logo {
      width: 992px;
    }
  }
}

.page-header {
  background-color: black;
}
.page-header .inner {
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 768px) {
  .page-header .inner {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 160px;
  }
  @-ms-viewport {
    .page-header .inner {
      width: 768px;
    }
  }
}
.page-header a {
  color: white;
}
.page-header a:hover {
  color: #fe0000;
}
.page-header .page-nav {
  -webkit-flex: 1;
  flex: 1;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
@media only screen and (max-width: 767px) {
  .page-header .page-nav {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    padding-bottom: 80px;
    height: calc(100vh - 60px);
    font-size: 210%;
    line-height: 159%;
  }
  @-ms-viewport {
    .page-header .page-nav {
      width: 320px;
    }
  }
  .show-menu .page-header .page-nav {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    visibility: visible;
  }
}
@media only screen and (min-width: 992px) {
  .page-header .page-nav {
    padding-right: 174px;
  }
  @-ms-viewport {
    .page-header .page-nav {
      width: 992px;
    }
  }
}
.page-header .sns {
  position: relative;
}
.page-header .sns ul {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  background-color: black;
  height: 36px;
}
@media only screen and (max-width: 767px) {
  .page-header .sns ul {
    position: fixed;
    bottom: 25px;
    left: 0;
    right: 0;
  }
  @-ms-viewport {
    .page-header .sns ul {
      width: 320px;
    }
  }
  .show-menu .page-header .sns ul {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    visibility: visible;
  }
}
@media only screen and (min-width: 768px) {
  .page-header .sns ul {
    position: absolute;
    bottom: inherit;
    left: inherit;
    top: 0;
    right: 36px;
  }
  @-ms-viewport {
    .page-header .sns ul {
      width: 768px;
    }
  }
  .show-sns .page-header .sns ul {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    visibility: visible;
  }
}
.page-header .sns-icon {
  font-size: 0;
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  background: url("../images/sprite-hi.png") 0 -245px/270px no-repeat;
}
.page-header .sns-icon.msg {
  cursor: pointer;
  margin-right: 0;
}
.page-header .sns-icon.msg.active {
  background-position: -46px -245px;
}
.page-header .sns-icon.facebook {
  background-position: -92px -245px;
}
.page-header .sns-icon.instagram {
  background-position: -138px -245px;
}
.page-header .sns-icon.yelp {
  width: 72px;
  background-position: -184px -245px;
}
.page-header .sns-icon:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.menu-icon {
  position: relative;
  width: 36px;
  height: 36px;
  background: url("../images/sprite-hi.png") -92px -205px/270px no-repeat;
  cursor: pointer;
}
.menu-icon.active {
  background-position: -46px -245px;
}

.shrinkHeader .page-content {
  padding-top: 80px;
}
.shrinkHeader .page-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}
.shrinkHeader .page-header .inner {
  height: 80px;
}
.shrinkHeader .logo {
  height: 36px;
}

/*------------------------------------*\
    $ELEMENT PAGE
\*------------------------------------*/
html,
body {
  height: 100%;
  position: relative;
}

.video-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.video-wrapper video {
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
  position: absolute;
  left: 50%;
  min-height: 100%;
}

.hero {
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-our-story {
  background-image: url("../images/hero-our-story.jpg");
}
.hero-menus {
  background-image: url("../images/hero-menus.jpg");
}
.hero-press {
  background-image: url("../images/hero-press.jpg");
}
.hero-contact-us {
  background-image: url("../images/hero-contact-us.jpg");
}

.highlight {
  color: #fe0000;
}

a.icon:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.icon {
  display: inline-block;
  font-size: 0;
  background-image: url("../images/sprite-hi.png");
  background-size: 180px;
  background-repeat: no-repeat;
}
.icon.read-more {
  width: 47px;
  height: 44px;
  background-position: 0 0;
  margin-left: 10px;
  vertical-align: bottom;
}
.icon.see-menu {
  width: 72px;
  height: 43px;
  background-position: -54px 0;
  margin-left: 10px;
  vertical-align: middle;
}
.icon.load-more {
  width: 47px;
  height: 47px;
  background-position: 0 -50px;
}
.icon.view-all {
  width: 42px;
  height: 80px;
  background-position: -54px -50px;
  margin-left: 10px;
  vertical-align: middle;
}
.icon.reach-out {
  width: 47px;
  height: 44px;
  background-position: 0 -104px;
  margin-left: 10px;
  vertical-align: middle;
}
.icon.pinterest {
  width: 40px;
  height: 40px;
  background-position: -127px 0;
  margin-right: 10px;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .icon {
    background-size: 270px;
  }
  @-ms-viewport {
    .icon {
      width: 768px;
    }
  }
  .icon.read-more {
    width: 70px;
    height: 66px;
  }
  .icon.see-menu {
    width: 108px;
    height: 65px;
    background-position: -80px 0;
  }
  .icon.load-more {
    width: 70px;
    height: 70px;
    background-position: 0 -75px;
  }
  .icon.view-all {
    width: 63px;
    height: 120px;
    background-position: -80px -75px;
  }
  .icon.reach-out {
    width: 70px;
    height: 66px;
    background-position: 0 -155px;
  }
  .icon.pinterest {
    width: 60px;
    height: 60px;
    background-position: -190px 0;
  }
}

.source {
  font-weight: 400;
}

.external {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-prev,
.slick-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 60px;
  height: 60px;
  z-index: 1;
}
.slick-prev:hover,
.slick-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.slick-prev::before,
.slick-next::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/sprite-hi.png");
  background-size: 204px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  @-ms-viewport {
    .slick-prev,
    .slick-next {
      width: 320px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .slick-prev,
  .slick-next {
    width: 80px;
    height: 80px;
  }
  @-ms-viewport {
    .slick-prev,
    .slick-next {
      width: 992px;
    }
  }
  .slick-prev::before,
  .slick-next::before {
    background-size: 270px;
  }
}

.slick-prev {
  left: 15px;
}
.slick-prev::before {
  background-position: -144px -57px;
}
@media only screen and (min-width: 992px) {
  .slick-prev {
    left: 30px;
  }
  @-ms-viewport {
    .slick-prev {
      width: 992px;
    }
  }
  .slick-prev::before {
    background-position: -190px -75px;
  }
}

.slick-next {
  right: 15px;
}
.slick-next::before {
  background-position: -144px -117px;
}
@media only screen and (min-width: 992px) {
  .slick-next {
    right: 30px;
  }
  @-ms-viewport {
    .slick-next {
      width: 992px;
    }
  }
  .slick-next::before {
    background-position: -190px -155px;
  }
}

.slick-dots li {
  width: 18px;
  height: 18px;
  margin: 0 7.5px;
}
.slick-dots li button {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 0;
  border-width: 3px;
  border-style: solid;
  padding: 0;
}
.slick-dots li button::before {
  content: none;
}

.slick-slide .slider-image {
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.slick-slide.slick-active .slider-image {
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 35px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 35px;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

article.menus {
  padding: 0;
}
article.menus h2 {
  margin-bottom: 0;
}
article.menus .slick-dots {
  bottom: 50px;
}
article.menus .slick-dots li button {
  border-color: white;
}
article.menus .slick-dots li.slick-active button {
  background-color: white;
}
article.menus .slider-image {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1366px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 360px;
}
@media only screen and (min-width: 768px) {
  article.menus .slider-image {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @-ms-viewport {
    article.menus .slider-image {
      width: 768px;
    }
  }
}
@media only screen and (min-width: 768px) {
  article.menus .slider-image {
    height: 460px;
  }
  @-ms-viewport {
    article.menus .slider-image {
      width: 768px;
    }
  }
}
@media only screen and (min-width: 992px) {
  article.menus .slider-image {
    height: 560px;
  }
  @-ms-viewport {
    article.menus .slider-image {
      width: 992px;
    }
  }
}

article.press {
  background-color: #f2f2f2;
}
@media only screen and (min-width: 768px) {
  article.press .col-sm-10::before {
    content: "\201C";
    font: 900 64px/48px "Montserrat", sans-serif;
    position: absolute;
    top: 0;
    left: -25px;
    font-size: 120px;
    line-height: 90px;
    left: -58px;
  }
  @-ms-viewport {
    article.press .col-sm-10::before {
      width: 768px;
    }
  }
}
@media only screen and (min-width: 992px) {
  article.press .col-sm-10::before {
    font-size: 160px;
    line-height: 110px;
    left: -77px;
  }
  @-ms-viewport {
    article.press .col-sm-10::before {
      width: 992px;
    }
  }
}
article.press .slick-dots {
  bottom: 0;
}
article.press .slick-dots li button {
  border-color: black;
}
article.press .slick-dots li.slick-active button {
  background-color: black;
}
@media only screen and (max-width: 767px) {
  @-ms-viewport {
    article.press {
      width: 320px;
    }
  }
  article.press .slider-image {
    padding-bottom: 15px;
  }
}

article.gallery h5 {
  margin-bottom: 0;
}
article.gallery ul {
  margin: -7.5px;
  padding-top: 30px;
  padding-bottom: 30px;
}
article.gallery ul li {
  padding: 7.5px;
}
article.gallery ul li img {
  width: 100%;
}

/*------------------------------------*\
    $ELEMENT FOOTER
\*------------------------------------*/
article.contact-us {
  background-color: black;
  color: white;
  padding: 0;
}
article.contact-us .flex-sm-7 {
  max-width: 707px;
  margin-left: auto;
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  article.contact-us .flex-sm-7 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @-ms-viewport {
    article.contact-us .flex-sm-7 {
      width: 768px;
    }
  }
}

#map {
  color: black;
  width: 100%;
  height: 320px;
}
@media only screen and (min-width: 768px) {
  #map {
    height: 100%;
  }
  @-ms-viewport {
    #map {
      width: 768px;
    }
  }
}
#map .gm-style .gm-style-iw {
  font-size: 16px;
  line-height: 20px;
}
#map .gm-style .gm-style-iw h5 {
  margin-bottom: 5px;
}
#map .gm-style .gm-style-iw h6 {
  margin-bottom: 10px;
}

.page-footer {
  text-align: center;
  padding: 15px 0;
}
@media only screen and (min-width: 768px) {
  .page-footer {
    padding: 30px 0;
  }
  @-ms-viewport {
    .page-footer {
      width: 768px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .page-footer {
    padding: 50px 0;
  }
  @-ms-viewport {
    .page-footer {
      width: 992px;
    }
  }
}
